body {
    position: relative;
    background-color: rgb(36, 200, 254);
}
ol {
    display: flex;
    flex-direction: row;
}
.dateList {
    position: relative;
    left: 5%;  
}
#dateList {
    position: relative;
    left: 5%; 
}

#dateForm {
position: absolute;
right: 10%;
}
a {
    color: rgb(0, 0, 0);
}
button {
    background-color: #555555;
    font-size: 16px;
    padding: 3px 7px;
    border-radius: 5px;
    color: black;
  border: 2px solid #555555
}